@media (min-width:768px) {
  h1 {
    margin: auto;
    text-align: center;
    position: relative;
  }
  #projects {
    display: none;
  }
  #home {
    display: none;
  }
  #about-me {
    display: none;
  }
  #contact {
    display: none;
  }
  #headline-name h1 {
    line-height: 1.5
  }
  .navbar {
    display: inline-flex;
  }
  .comtainer-fluid .jumbotron {
    background-color: #110604;
  }
}
.selected-button {
  background-color: #b7b7b761;
}
.navbar {
  margin-bottom: auto;
  margin-top: auto;
}

body {
  background-image: url("../img/wood-background.jpg");
  background-size: auto;
  color: #c59560;
  font-family: 'Secular One', sans-serif;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(191, 54, 12, 1)  , rgba(0, 0, 0, 0));
  margin-top: 20px;
}
.btn-primary {
  background-color: transparent;
  border-color: #bf360c;
}
.container-fluid .jumbotron {
  background-color: inherit;
  color: #795548;
  /* font-family:  */
  margin: auto;
  text-align: center;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: -15px;
  margin-right: -15px;
}
.jumbotron h1 {
  margin-top: 10px;
  font-family: 'Archivo Black', sans-serif;
  color: rgba(191, 54, 12, 1);
  display: inline-block;
  text-shadow:
}
.jumbotron {
  margin-bottom: -10;
}
.jumbotron .row {
  display: inline-flex;
}
@media (min-width: 768px) {
  .container-fluid .jumbotron {
    padding-top: 0px;
    padding-bottom: 5px;
  }
}
a:link {
  color: #A1887F;
}
a:visited {
  color: #D7CCC8;
}
.panel-body {
  background-color: #42270f;
  border-color: #bf360c;
}
.panel-heading {
  border-color: #bf360c;
}
.panel-heading h2 {
  margin-top: 1px;
  margin-bottom: 1px;
  color: #d8ccc9;
}
.panel {
  border-color: #bf360c;
}
.panel .panel-heading {
  background-color: #2d160b;
  border-color: #bf360c;
}

@media (min-width: 992px) {
   .equal{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

.panel {
    width: 100%;
    height: 100%;
    background-color: #41280f;
}
